<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="screen/admin/layout">
<head>
<title>User</title>
<meta charset="UTF-8" />
</head>
<body>
  <th:block layout:fragment="content">
    <form method="post" th:action="@{''}" th:object="${userForm}">
      <table border="1">
        <tr>
          <th>ID</th>
          <td><input type="text" th:field="*{id}" /> <span class="error" th:errors="*{id}">error</span></td>
        </tr>
        <tr>
          <th>名前</th>
          <td><input type="text" th:field="*{name}" /> <span class="error" th:errors="*{name}">error</span></td>
        </tr>
        <tr>
          <th>年齢</th>
          <td><input type="text" th:field="*{age}" /> <span class="error" th:errors="*{age}">error</span></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="登録" /></td>
        </tr>
      </table>
    </form>
  </th:block>
</body>
</html>
